
body {
  margin: 0;
}

.loader {
  position: absolute;
  right: 0;
  bottom: 20px;
  margin: 0 60px;
  animation: throb 2s infinite;
}

@keyframes throb {
  0%    { opacity: 0.3; }
  50%   { opacity: 0.6; }
  100%  { opacity: 0.3; }
}

.grid {
  display: flex; /* 1 */
  flex-wrap: wrap; /* 2 */
  margin: -0.5em; /* 5 (edit me!) */
}

.grid > * {
  flex: 1 0 5em; /* 3 (edit me!) */
  margin: 0.5em; /* 4 (edit me!) */
}
